doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block additionalHeader
	body
		div(class="navbar navbar-inverse navbar-fixed-top")
			div(class="container")
				div(class="navbar-header")
					a(href="/" class="navbar-brand") IBM-EDMS
				
				div(class="navbar-collapse collapse" id="navbar-main")
					if !user 
						ul(class="nav navbar-nav")
							li(class="dropdown")
								a(href="/login") Login
						ul(class="nav navbar-nav")
							li(class="dropdown")
								a(href="/employees/new") Signup
					else
						ul(class="nav navbar-nav")
							li(class="dropdown")
								a(href="/logout") Logout
					

		div(class="container")
			block content
			
			label.errmessage.col-lg-2.control-label= message
