extends layout

block content
	br
	form(class="form-horizontal" method="POST" action='/login')
		fieldset
			legend Login
			div(class="form-group")
				label(for="username" class="col-lg-2 control-label") User Name
				div(class="col-lg-10")
					input(class="form-control" id="username" name="username" placeholder="User Name" type="text")
					
			div(class="form-group")
				label(for="password" class="col-lg-2 control-label") Password
				div(class="col-lg-10")
					input(class="form-control" id="password" name="password" placeholder="Password" type="password")
				
			div(class="form-group")
				div(class="col-lg-10 col-lg-offset-2")
					input(type="reset" class="btn btn-default" value="Cancel")
					input(type="submit" class="btn btn-primary" value="Submit")
					&nbsp;&nbsp;&nbsp;
					a(href="/employees/new") New Signup
			