extends layout

block content
	br
	form(class="form-horizontal" method="POST" action='/employees/upload' enctype="multipart/form-data")
		fieldset
			legend Upload New Employees
			div(class="form-group")
				label(for="fileUploaded" class="col-lg-2 control-label") Upload File:
				div(class="col-lg-10")
					input(class="form-control" id="fileUploaded" name="fileUploaded" type="file")
					
			div(class="form-group")
				div(class="col-lg-10 col-lg-offset-2")
					input(type="submit" class="btn btn-primary" value="Upload")
			