extends layout

block content
	form(class="form-horizontal" method="GET" action='/employees/edit/' + user._id)
		br
		fieldset
			legend View Employee
			
			div(class="form-group")
				label(for="username" class="col-lg-2 control-label") User Name
				div(class="col-lg-10")
					input(class="form-control" id="username" name="username" placeholder="User Name" type="text" disabled="" value=employee.username)
					
			div(class="form-group")
				label(for="firstname" class="col-lg-2 control-label") First Name
				div(class="col-lg-10")
					input(class="form-control" id="firstname" name="firstname" placeholder="First Name" type="text" disabled="" value=employee.firstname)
			
			div(class="form-group")
				label(for="lastname" class="col-lg-2 control-label") Last Name
				div(class="col-lg-10")
					input(class="form-control" id="lastname" name="lastname" placeholder="Last Name" type="text" disabled="" value=employee.lastname)
					
			div(class="form-group")
				label(for="email" class="col-lg-2 control-label") Email
				div(class="col-lg-10")
					input(class="form-control" id="email" name="email" placeholder="Email" type="email" disabled="" value=employee.email)
			
			
			div(class="form-group")
				div(class="col-lg-10 col-lg-offset-2")
					input(type="submit" class="btn btn-primary" value="Edit")
