{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "rafalevita@gmail.com",
      "Space": "Getting Started"
    },
    "Name": "IBM-EDMS",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}